/* PHASE 1: Header */

.header {
  position: relative;
  background: red;
  color: white;
  font-family: sans-serif;

  border-bottom: 1px;
  border-style: solid;
  border-color: lightgray;

  z-index 1000;
}

.header a:hover {
  background: black;
}

.header a {
  padding: 10px 20px;
}


.header-nav {
  background: red;
  margin: auto;
  width: 900px;
  border-left: 1px;
  border-right: 1px;
  border-color: lightgray;
  border-style: solid;
}


.header-logo {
  float: left;
  background: red;
}

.header-logo a {
  display: block;
  border-right: 1px;
  border-color: lightgray;
  border-style: solid;
  font-weight: 700;
}

.header-list {
  float: right;
  background: red;
}

.header-list > li {
  float :left;
}

.header-list > li > a {
  display: block;
  border-left: 1px;
  border-color: lightgray;
  border-style: solid;
}
